---
import background from "../assets/background.svg";
---

<div id="container">
  <main>
    <h1>Welcome to IE Network 2027</h1>
    <img
      src={background.src}
      alt="Background Image"
      style="width: 100%; height: auto;"
    />
  </main>
</div>

<style></style>
